---
import Layout from "../layouts/Layout.astro";
const about = "About Us";
---

<Layout>
    <!-- <a href="/">Home</a>
    <a href="/about/">About</a> -->
    <img src="astro-img.jpeg" alt="astro-img" />
    <h1>About Me</h1>
    <h2>Wecome!</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque quo
        eius voluptatum praesentium laudantium dignissimos debitis cumque, quas
        obcaecati consequatur blanditiis at itaque ut, magni mollitia eveniet
        tempore laboriosam vel.
    </p>
</Layout>
