---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const pageTitle = "Blog";

---

<Layout>
    <div class="blog">

    <img src="/images/img-1.jpeg" alt="astro-img" />
    <h1>{pageTitle}</h1>
    <h2>Wecome!</h2>

    <a href="/posts/post-1">Post-1</a>
    <a href="/posts/post-2">Post-2</a>


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, rerum quam corporis nemo, eveniet modi quis est rem dicta fugiat, perferendis nulla veritatis! Doloribus itaque ea, molestiae aspernatur eaque accusamus!
    Consectetur temporibus, sed exercitationem sequi possimus minus ex? Soluta pariatur saepe recusandae tempore adipisci corrupti ad possimus et repellendus, eos nobis deserunt aperiam, labore minus ratione tenetur. Eos, minima sapiente?
    Fugiat ipsum eveniet dolorem magnam iure rem quo quae repellendus, nesciunt nulla modi sed laudantium possimus repellat vero voluptatibus. Ad sunt quasi nihil ipsa explicabo deleniti maiores suscipit itaque perferendis.
    Vel veniam in, explicabo placeat eligendi eos natus repudiandae tempore amet omnis doloremque accusantium nulla similique reiciendis dolores sapiente adipisci deleniti odio, ex hic. Exercitationem iste ipsa voluptas quam dolore?
    Quis vel ratione, fuga atque nihil molestias. Dolorem itaque nesciunt modi laudantium nihil molestias cum atque porro, aliquid suscipit ipsum commodi quis voluptate asperiores. Esse placeat iure laudantium eos non!
    In perspiciatis tenetur iste molestias maiores blanditiis, quo deleniti eligendi recusandae earum ducimus quia ex dicta placeat aperiam voluptate, magni eius vitae exercitationem unde repudiandae. Fuga odio nisi quibusdam eius!
    Blanditiis culpa totam odio, ipsa soluta dolore quidem, voluptates consequatur minus, fuga corporis omnis? Temporibus enim voluptatum voluptates. Adipisci repellat culpa saepe autem blanditiis maiores commodi ipsum soluta voluptatibus ullam.
    Optio deleniti commodi reprehenderit voluptate magni fugit delectus itaque, atque deserunt neque quisquam veritatis quod? Dolores enim harum pariatur non corrupti iusto eveniet vel, id accusamus? Voluptatem ipsam laborum accusamus.
    Natus perferendis totam laudantium eveniet nisi officiis recusandae temporibus corporis illum consequuntur fugit est voluptatibus molestias impedit optio deserunt ipsum distinctio tempora sequi provident cumque, porro id atque assumenda. Iste!
    Soluta blanditiis harum tempore distinctio dicta illo eius ut nihil facere veniam, adipisci quas laborum eveniet tempora porro est quod. Non, voluptates? Doloribus repudiandae laborum officiis officia laboriosam nemo rerum?</p>
</div>
</Layout>
<style>
    .blog{
        background-color: rgba(233, 150, 122, 0.37);
    }
    h1 {
      color: purple;
      font-size: 4rem;
    }
    img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    
  </style>

