---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <!-- <a href="/">home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/contact/">Contact</a> -->

    <img src="/images/ima-2.jpeg" alt="astro-img" />
    <h1>Contact :</h1>
    <h2>Wecome!</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex adipisci
        placeat tempora iusto soluta ea eos praesentium temporibus enim nemo! Ex
        voluptatum repudiandae, culpa ullam delectus nulla iste ipsum atque!
    </p>
</Layout>
