---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <!-- <a href="/">Home</a> -->

    <img src="/images/img-3.jpeg" alt="astro-img" />
    <h1>Home :</h1>
    <h2>Wecome!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptatum eum facere, sequi non, cum, eaque possimus alias eveniet ullam inventore quibusdam quas magnam. Iure laborum sit alias illum sint!
    Ullam, molestiae deserunt! Veniam quidem iste aliquid mollitia perspiciatis aliquam, obcaecati culpa consectetur facere rerum nobis, eveniet ab provident minima minus incidunt. Quae corrupti ex modi id voluptatem et doloremque.
    Possimus non reprehenderit minima eius sint et voluptatem ad laborum rerum quibusdam rem illo nesciunt ea unde vel, totam voluptas excepturi repellat nulla exercitationem dolorum tempore. Vitae nobis exercitationem aliquid.
    Voluptas natus quia quas voluptatibus illo officia, eum repellat provident fugiat doloremque deserunt ipsum architecto laudantium labore a dolor voluptatum quod, corrupti nesciunt non porro quis. Accusantium aliquid at rerum.
    Aspernatur maxime doloremque cumque ad error laudantium, doloribus voluptate quas ullam. Deleniti non temporibus provident corrupti libero, et deserunt suscipit sit eligendi recusandae voluptatibus delectus ea officia nulla cupiditate veritatis?
    Voluptates perspiciatis fuga soluta, odit sint blanditiis, accusantium dolorem beatae facilis quae ipsam nam tempore. Quibusdam, maxime. Molestiae facere obcaecati voluptate rem, quaerat, quibusdam hic, culpa atque repellat velit delectus?
    Repellendus unde vel in sequi tempora officia ab quia rerum, earum exercitationem nihil eum suscipit. Soluta facilis reiciendis ad, aspernatur quos obcaecati magni minus similique fugit magnam eligendi deleniti cupiditate!
    Quam ab cupiditate optio laudantium deserunt harum eum accusamus? In accusamus, possimus minus atque, suscipit consequuntur sint similique a illo perferendis tempore magnam. Sed numquam ab reprehenderit accusamus quisquam earum!
    Et accusantium ullam aliquam at nulla iure ducimus laudantium quo tempora explicabo voluptatibus, nemo dignissimos quis aperiam. Quam, deserunt temporibus sunt asperiores veniam deleniti nostrum quae repudiandae dolor quia iure?
    Mollitia beatae rerum explicabo quasi voluptates atque optio. Amet, totam aliquid! Harum, quas ipsam! Nemo commodi aut, obcaecati veritatis id consequatur minima, facere ullam facilis sed in pariatur, quam ipsum!
    Quo dolore adipisci sit. Ullam vitae dolor fugiat! Alias fugit tempora minima, illo laudantium quidem id? Cum nulla libero alias, voluptatum amet accusantium eveniet rem fugiat unde odit, nemo ut!
    Veritatis, est, quidem quos corrupti reprehenderit nobis amet debitis ullam sed animi qui. Sit, facilis voluptas natus hic velit optio. Reprehenderit molestiae omnis unde cupiditate accusamus ut quaerat est vitae!
    Quis, odit distinctio? Sed ex, laboriosam accusantium nisi voluptas eius numquam porro, necessitatibus, nostrum fuga labore. Molestias assumenda quasi molestiae est corporis enim doloremque eligendi tempora. Molestias, ipsum error! Molestiae.
    Velit, doloremque eaque, et repellendus nobis vitae minus sed tempora dolore quasi placeat soluta beatae culpa ea perspiciatis, aliquid rerum! Quasi animi dolor consequatur eveniet natus. Dolore id consequuntur explicabo!
    Eum, optio rerum. Reprehenderit facilis esse harum iste, odio eaque ad vitae enim perspiciatis tempora voluptas nemo deserunt consequatur numquam explicabo impedit quisquam officiis repellendus totam non nihil obcaecati similique.
    Accusantium magni exercitationem laboriosam possimus, voluptatum adipisci nostrum dolore temporibus dignissimos perferendis rerum fuga debitis distinctio rem sunt error ullam hic minus expedita laborum, nulla, id in corporis. Porro, natus!
    Culpa non incidunt excepturi fugiat inventore dolores eaque. Ea nemo labore rerum eum molestias laboriosam error atque optio. Voluptatibus accusamus voluptas nesciunt eaque repudiandae consectetur temporibus minus placeat modi quia.
    Voluptates, deleniti? Quisquam saepe, eaque quo odit assumenda deleniti maxime, autem culpa voluptas laboriosam sunt nam beatae ipsum, accusamus quibusdam. Maiores laborum culpa doloribus, ad excepturi perferendis cum ratione quaerat?
    Quod, necessitatibus! Similique accusamus, tempora quaerat dolore saepe nesciunt assumenda asperiores cumque quo placeat in velit praesentium dicta repellat, ipsa ratione dolores a molestiae impedit, ducimus totam? Impedit, sequi rem.
    Itaque inventore exercitationem labore excepturi ut. Amet doloribus pariatur tempore nam placeat voluptatem inventore, accusantium soluta autem magnam fugiat maxime eligendi a tenetur hic, natus quam doloremque ea odio velit.</p>

</Layout>
