---
import Layout from "../layouts/Layout.astro";
import "../Style/index.css";
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const interests = ["watching movie", "sketches", "reading novel"];
---

<Layout>
    <!-- <a href="/">Home</a> -->

    <h1>Astro Index Page</h1>
    <h2>My skills are:</h2>
    <ul>
        {skills.map((skill) => <li>{skill}</li>)}
    </ul>
    <h2>My Interest are:</h2>
    <ul>
        <!-- interests.(interest) -->
        {interests.map((interest) => <li>{interest}</li>)}
    </ul>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos
        vero quia suscipit vitae voluptates reiciendis doloribus porro amet,
        deserunt voluptatum ad excepturi, nihil hic praesentium harum
        repellendus expedita sunt perspiciatis!
    </p>
</Layout>
