<!-- ---
// frontmatter
---
<footer>
    <p>Quick Links</p>
    <p>Contact Details</p>
    <p>
        <img src="/images/logos.png" alt="logos">
    </p>
</footer> -->
---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>
<!-- https://github.com/Preetiaarya -->