---
//frontmatter
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Index</title>
		<style>
			.about{
				background-color: aquamarine;
			}
		</style>
		
	</head>
	<body>
		<nav>
			<div><img src="/images/astro-logo.png" alt="" /></div>
			<div>
				<a href="/">Home</a>
				<a href="/about/">About</a>
				<a href="/blog/">Blog</a>
				<a href="/contact/">Contact</a>
			</div>
		</nav>
		<slot />
		<footer>
			<p>Quick Links</p>
			<p>Contact Details</p>
			<p>
				<img src="/images/logos.png" alt="logos">
			</p>
		</footer>
	</body>
</html>
