---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Logo from "../components/Logo.astro";

// <title>{pageTitle}</title>

//frontmatter
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <title>{pageTitle}</title> -->
		
		
	</head>
	<body>
		<Logo />
		<Navigation />
		<!-- <h1>{pageTitle}</h1> -->
		<slot />
		
		<Footer/>

	</body>
</html>
